<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>IFCEventos</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/product/">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap/css/style.css" rel="stylesheet">
</head>

<body>

    <!-- header -->
    <header class="site-header sticky-top py-1">
        <nav class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="py-2" href="#" aria-label="Product">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img"
                    viewBox="0 0 24 24">
                    <title>Product</title>
                    <circle cx="12" cy="12" r="10" />
                    <path
                        d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94" />
                </svg>
            </a>
            <a class="py-2 d-none d-md-inline-block" href="index.html">Home</a>
            <a class="py-2 d-none d-md-inline-block" href="#">Product</a>
            <a class="py-2 d-none d-md-inline-block" href="#">Features</a>
            <a class="py-2 d-none d-md-inline-block" href="#">Enterprise</a>
            <a class="py-2 d-none d-md-inline-block" href="#">Support</a>
            <a class="py-2 d-none d-md-inline-block" href="#">Pricing</a>
            <a class="py-2 d-none d-md-inline-block" href="#">Cart</a>
        </nav>
    </header>

    <main>
        <!-- banner top -->
        <div class="position-relative overflow-hidden p-3 p-md-5 text-center bg-banner">
            <div class="col-md-5 p-lg-5 mx-auto my-5">
                <h1 class="display-4 fw-normal">IFCEventos</h1>
                <p class="lead fw-normal">A plataforma de eventos como você nunca viu antes.</p>
                <p class="lead fw-normal"></p>
                <a class="btn btn-outline-secondary" href="#">Coming soon</a>
            </div>
            <!-- <div class="product-device shadow-sm d-none d-md-block"></div> -->
            <!-- <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div> -->
        </div>
        <!-- end banner top -->

        <div class="container py-5 bg-custom-2 rounded-5 my-3">
            <div class="text-center">
                <h4>Cadastro de Eventos</h4>
            </div>
            <div class="row c-eventos justify-content-center">
                <div class="col-8 my-2">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Nome</span>
                        <input type="text" class="form-control" placeholder="Nome do Evento" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-8 my-2">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Data Início</span>
                        <input type="datetime-local" class="form-control" placeholder="Data início do Evento" aria-label="Username" aria-describedby="basic-addon1" id="datetime-local">
                    </div>
                </div>
                <div class="col-8 my-2">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Data Fim</span>
                        <input type="datetime-local" class="form-control" placeholder="Data fim do Evento" aria-label="Username" aria-describedby="basic-addon1" id="datetime-local">
                    </div>
                </div>
                <div class="col-8 my-2">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Endereço</span>
                        <input type="text" class="form-control" placeholder="Endereço do Evento" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-8 my-2">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Organizadores</span>
                        <input type="text" class="form-control" placeholder="Organizadores do Evento" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-8 my-2">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Detalhes</span>
                        <textarea class="form-control" aria-label="With textarea"></textarea>
                    </div>
                </div>
                <div class="col-8 my-2">
                    <label class="input-group-text" for="inputGroupFile01">Folder</label>
                    <input type="file" class="form-control" id="inputGroupFile01">
                </div>
            </div>
        </div>
    </main>

    <footer class="container py-5 bg-banner csize_max">
        <div class="row">
            <div class="col-12 col-md">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img"
                    viewBox="0 0 24 24">
                    <title>Product</title>
                    <circle cx="12" cy="12" r="10" />
                    <path
                        d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94" />
                </svg>
                <small class="d-block mb-3 text-light">&copy; 2023</small>
            </div>
            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">Cool stuff</a></li>
                    <li><a class="link-secondary" href="#">Random feature</a></li>
                    <li><a class="link-secondary" href="#">Team feature</a></li>
                    <li><a class="link-secondary" href="#">Stuff for developers</a></li>
                    <li><a class="link-secondary" href="#">Another one</a></li>
                    <li><a class="link-secondary" href="#">Last time</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">Resource name</a></li>
                    <li><a class="link-secondary" href="#">Resource</a></li>
                    <li><a class="link-secondary" href="#">Another resource</a></li>
                    <li><a class="link-secondary" href="#">Final resource</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">Business</a></li>
                    <li><a class="link-secondary" href="#">Education</a></li>
                    <li><a class="link-secondary" href="#">Government</a></li>
                    <li><a class="link-secondary" href="#">Gaming</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">Team</a></li>
                    <li><a class="link-secondary" href="#">Locations</a></li>
                    <li><a class="link-secondary" href="#">Privacy</a></li>
                    <li><a class="link-secondary" href="#">Terms</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>